/*=========Styling The Heading Section=========*/
.heading {
    background-image: url(./imgs/backgrounds/header.jpg);
    background-size: cover;
    height: 55rem;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    line-height: 30px;
}

.heading img {
    padding-top: 220px;
}

.header{
    margin-top: 1px;
    padding-top: 150px;
    padding-bottom: 80px;
    font-weight: 1000;
}

.far {
    z-index: 2; 
    position: absolute;
    top: 270px;
    left: 745px;
    font-size: 100px;
}    

h2 {
    padding-top: 50px;
    text-align: center;
}


/*=======Styling The About Section========*/
.d-flex {
    text-align: center;
    line-height: 25px;
    height: 15rem;
}


/*======Styling The Services Section=======*/
.services {
    background-image: url("../imgs/backgrounds/s_image.jpg");
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    text-align: center;
    line-height: 35px;
}


/*======Styling The What We Do Section=======*/
.whatWeDo {
    text-align: center;
    height: 65rem;
}

.doColumns {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

#design {
    display: none;
}

#development {
    display:none;
}

#productManagement {
    display: none;
}

.portfolio {
    width: 100%;
}

.portfolio h3 {
    font-weight: 530;
}

.firstPortfolioRow img {
    height: 300px;
    padding: 10px 5px;
}

.secondPortfolioRow img {
    height: 300px;
    padding: 10px 5px;
}


/*=======Styling The Contact Section========*/
.contact {
    background-image: url(/imgs/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    height: 50rem;
}

.contact h2 {
    padding: 60px 0px 0px 0px;
}

.form-row {
    padding: 30px 150px;
}

.form-group {
    padding: 30px 120px;
}

.form-control::placeholder {
    color: #fff;
}

.form-control {
    background: transparent;
}

textarea.form-control {
    height: 300px;
}


/*======Styling The Footer Section=======*/
footer {
    text-align: center;
    padding: 40px;;
}

footer img {
    padding: 10px;
}

footer p {
    margin-top: 20px;
    margin-bottom: 1px;
}